/* ============================================= */
/*              Base styles                      */
/* ============================================= */


* {
  font-family: $font-primary;
}

body {
  max-width: $max-body-width;
  margin: auto;
}

.container {
  background: $container-background;
}


/* ============================================= */
/*              Typography                       */
/* ============================================= */
